<%= render "shared/header" %>

<div id= "title">
Home! Hello This is the new web apllication that will enable your university life better
</div>
<% @books.each do |book| %>
  <td><%= book.title %></td>
  <td><%= book.price %></td>
<% end %>


<%= link_to "Upload Your Book!", new_book_path, class: "new-book-upload" %>


